<% provide(:title, "Kontakt und Impressum") %>
<h1>Kontakt und Impressum</h1>

<p><b>Kontakt</b><br>
Initiativgruppe Raumpool Messestadt<br>
Heinrich-Böll-Str. 73<br>
81829 München
</p>

<p><b>Raumpool-Team</b><br>
Inge Brümmer, Juliane Gross, Jaroslav Ovčáček<br>
<a href="mailto:info@raumpool-messestadt.de">info@raumpool-messestadt.de</a><br>
Erich Eisenstecken<br>
<a href="mailto:erich.eisenstecken@shz-muenchen.de">erich.eisenstecken@shz-muenchen.de</a><br>
</p>

<p>
<b>Nutzungsbedingungen</b><br>
Texte, Bilder, Grafiken sowie die Gestaltung dieser Internetseiten unterliegen dem Urheberrecht. Sie dürfen von Ihnen nur zum privaten und sonstigen eigenen Gebrauch im Rahmen des § 53 Urheberrechtsgesetz (UrhG) verwendet werden. Eine Vervielfältigung oder Verwendung dieser Seiten oder Teilen davon in anderen elektronischen oder gedruckten Publikationen und deren Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese erteilen auf Anfrage die für den Inhalt Verantwortlichen. Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter unterliegen. Auch über das Bestehen möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen nähere Auskünfte.
</p>

<p>
<b>Haftungsausschluss</b><br>
Alle auf dieser Internetseite bereitgestellten Informationen haben wir nach bestem Wissen und Gewissen erarbeitet und geprüft. Eine Gewähr für die jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der bereit gestellten Informationen können wir allerdings nicht übernehmen. Wir haften nicht für Schäden, die durch die Nutzung oder Nichtnutzung dieses Internetangebots entstehen. Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Computerviren oder der Installation oder Nutzung von Software verursacht werden, wird nicht gehaftet.
</p>

<p>
<b>Links</b><br>
Von unseren eigenen Inhalten sind Querverweise („Links“) auf die Webseiten anderer Anbieter zu unterscheiden. Durch diese Links ermöglichen wir lediglich den Zugang zur Nutzung fremder Inhalte nach § 8 Telemediengesetz. Wenn Sie diesen Links folgen, verlassen Sie die Seiten der Wohnforum gGmbH. Wir empfehlen deshalb allen Benutzern, beim Verlassen unserer Web-Site sich über die jeweiligen Datenschutzhinweise der anderen lnternet- Angebote zu informieren. Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben wir diese fremden Inhalte daraufhin überprüft, ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. Wir können diese fremden Inhalte aber nicht ständig auf Veränderungen überprüfen und daher auch keine Verantwortung dafür übernehmen. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der jeweilige Anbieter der Seite. Ein Vertragsverhältnis mit den Nutzern des Internetangebots kommt nicht zustande.
</p>
