<% provide(:title, "Kontakt") %>
<h1>Kontakt</h1>

<p><b>Kontakt</b><br>
Initiativgruppe Raumpool Messestadt<br>
Heinrich-Böll-Str. 73<br>
81829 München
</p>

<p><b>Raumpool-Team</b><br>
Inge Brümmer, Juliane Gross, Jaroslav Ovčáček<br>
<a href="mailto:info@raumpool-messestadt.de">info@raumpool-messestadt.de</a><br>
Erich Eisenstecken<br>
<a href="mailto:erich.eisenstecken@shz-muenchen.de">erich.eisenstecken@shz-muenchen.de</a><br>
</p>

