<% provide(:title, "Netzwerk") %>
<h1>Netzwerk</h1>

<p>
Service- und Querschnittsinformationen speziell für die Neubürger der Messestadt:
</p>
<br><br>
<a href="http://messestadt-riem.de/">messestadt-riem.de</a>

<br><br>

<p>
Aktuelle Informationen und Veranstaltungen aus der Messestadt:
</p>
<br><br>
<a href="http://unsere-messestadt.de/">unsere-messestadt.de</a>