<% provide(:title, "Über den Raumpool") %>
<h1>Über den Raumpool</h1>

<p>
Der Raumpool Messestadt ist eine Internetplattform, auf der Raumanbieter mit strukturierten Angaben auf ihre Räume und entsprechende Verfügbarkeit und Konditionen verweisen. Er soll Bewohnerinnern des Stadtviertels und selbstorganisierten Initiativen und Vereinen das Suchen und Finden angemessener Räume für Aktivitäten im eigenen Stadtteil erleichtern.
</p>

<p>
Raumsuchende können via Computer ihre Suchkriterien eingeben und gefundene Kurzinfos weiter vertiefen. Der Raumpool gilt sowohl für Besprechungs- und Veranstaltungsräume als auch für Gästeappartements, Werkstätten, Büros, Übernachtungsmöglichkeiten und Freiflächen, die von Privatpersonen, Initiativen und Organisationen einmalig oder über einen längeren Zeitraum gemietet und genutzt werden können. Das Angebot ist auf einen Stadtteil bezogen und trägerübergreifend. Neben sozialen Einrichtungen (Nachbarschaftstreffs, Gemeindesälen, oder Kulturzentren)  können auch Unternehmen (Hotel- und Gaststättengewerbe, Messen, oder Praxisräume) und Privatvermieter sich mit Ihrem Angebot eintragen. Dabei ist uns Transparenz und Vergleichbarkeit wichtig, da nicht alle Räume für jeden Anlass geeignet sind.
</p>

<p>
2010 entstand durch Initiative des Nachbarschaftstreffs Heinrich-Böll-Straße (Wolfgang Fänderl, Werner Moser), Bewohner der Wohnbaugenossenschaft wagnis e.G. (Inge Brümmer, Juliane Gross) und des Selbsthilfezentrum München (Erich Eisenstecken) die Idee für den Raumpool Messestadt. Unterstützung kam zu Beginn auch vom Amt für Wohnen und Migration, das die Idee einer stadtteilweiten Vernetzung und höheren Transparenz der Angebote in den Nachbarschaftstreffs fördern half. Bereits vor einer breiten Öffnung konnten weitere institutionelle Interessenten für die Mitarbeit gewonnen werden (Echo e.V. / Quax-Jugendzentrum, Bürgerforum / Kulturzentrum Messestadt).
</p>

<p>
2013 konnte das Projekt wegen personeller Veränderungen im Nachbarschaftstreff vorerst nicht mehr weiterentwickelt werden. 2014 griff das Selbsthilfezentrum München das Projekt wieder auf, was dem Raumpoolteam mit Unterstützung durch den Selbsthilfefonds des Sozialreferats der Landeshauptstadt München ermöglichte, die Arbeit wieder aufzunehmen.
</p>

<p>
Die Initiative Raumpool Messestadt wird als bürgerschaftliches Engagement von der Landeshauptstadt München unterstützt. Die Initiativgruppe ist ehrenamtlich tätig und freut sich immer über neue Mitglieder, die uns bei der Organisation, Programmierung, oder Werbung unterstützen möchten!
</p>

<p>
Dieser Internetauftritt wurde mit dem Open Source Framework Ruby on Rails entwickelt.
</p>
