<footer class="footer">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Über den Raumpool", raumpool_path %></li>
      <li><%= link_to 'FAQ', faq_path %></li>
      <li><%= link_to "Kontakt und Impressum", impressum_path %></li>
    </ul>
  </nav>
</footer>
