<footer class="footer">
    <ul>
      <li><%= link_to "Über den Raumpool", raumpool_path %></li>
      <li><%= link_to "Netzwerk", netzwerk_path %></li>      
      <li><%= link_to "Kontakt", kontakt_path %></li>
      <li><%= link_to "Impressum", impressum_path %></li>
    </ul>
  </nav>
</footer>
